// colors
$dark-green: #242E05;
$medium-green: #485C09;
$light-green: #D7F283;
$lighter-green: #E6F7B1;
$light-yellow: #FAFDEF;
$link-color: #0B4F67;
$error-color: #8F0000;

// space
$margin-space: 2rem;
$padding-space: 1.5rem;